node_modules
mfe-cadasro/dist/
mfe-cadasro/node_modules/
mfe-cadasro/.angular
mfe-cadasro/.vscode
mfe-cadasro/.idea
mfe-cadasro/.git
mfe-cadasro/.gitignore
mfe-cadasro/.editorconfig
mfe-cadasro/.prettierignore
mfe-cadasro/.prettierrc
mfe-cadasro/.eslintignore
mfe-cadasro/.eslintrc  
mfe-leilao/dist/
mfe-leilao/node_modules/
mfe-leilao/.angular
mfe-leilao/.vscode
mfe-leilao/.idea
mfe-leilao/.git
mfe-leilao/.gitignore
mfe-leilao/.editorconfig
mfe-leilao/.prettierignore